.text-area {
  max-width: 1085px;
  margin: 2rem auto 1rem;
}

.text-area__input {
  background: #d5d8ed;
  padding: 1rem;
  width: 100%;
  height: 30vh;
  border: 0.1rem solid #000000;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  resize: none;
}